---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103cFL2Gp7PcNcb0yYgMXD4V",
          "livemode": false,
          "created": 1394109807,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103cFL2Gp7PcNcb0WfUFfSo7",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2015,
            "fingerprint": "vjnC1BDDDni6vY6s",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 06 Mar 2014 12:43:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=base&email=&card=tok_103cFL2Gp7PcNcb0yYgMXD4V&description=
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1394109808,
          "id": "cus_3cFLgJ9prdzT29",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3cFLgJ9prdzT29/subscriptions",
            "data": [
              {
                "id": "sub_3cFLUKbDNhHZIi",
                "plan": {
                  "interval": "month",
                  "name": "MyFLiX Base Plan",
                  "created": 1393764705,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1394109808,
                "status": "active",
                "customer": "cus_3cFLgJ9prdzT29",
                "cancel_at_period_end": false,
                "current_period_start": 1394109808,
                "current_period_end": 1396788208,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3cFLgJ9prdzT29/cards",
            "data": [
              {
                "id": "card_103cFL2Gp7PcNcb0WfUFfSo7",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2015,
                "fingerprint": "vjnC1BDDDni6vY6s",
                "customer": "cus_3cFLgJ9prdzT29",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103cFL2Gp7PcNcb0WfUFfSo7"
        }
  recorded_at: Thu, 06 Mar 2014 12:43:29 GMT
recorded_with: VCR 2.8.0
