---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103d2b2Gp7PcNcb0NEsZkKf7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103d2b2Gp7PcNcb0NEsZkKf7",
          "created": 1394293099,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103d2b2Gp7PcNcb0uuXGRvfG",
              "object": "charge",
              "created": 1394293099,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103d2b2Gp7PcNcb0R29OCeod",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "WftsqOXnyzpRpWcL",
                "customer": "cus_3d16htYWNGpMVw",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3d16htYWNGpMVw",
              "invoice": null,
              "description": "payment to failed",
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3d2bZxXgaXAaHg"
        }
  recorded_at: Sat, 08 Mar 2014 15:56:53 GMT
recorded_with: VCR 2.8.0
