%ul.nav.nav-tabs
  %li{ class: active_path(admin_payments_path) }
    = link_to "Recent Payments", admin_payments_path
  %li{ class: active_path(new_admin_video_path) }
    = link_to "Add a New Video", new_admin_video_path