---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103d062Gp7PcNcb03vujQxzQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103d062Gp7PcNcb03vujQxzQ",
          "created": 1394283784,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103d062Gp7PcNcb01QsC3Npe",
              "object": "charge",
              "created": 1394283784,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103d062Gp7PcNcb0RsMvP1nu",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2015,
                "fingerprint": "vjnC1BDDDni6vY6s",
                "customer": "cus_3d066us3jDQBTc",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103d062Gp7PcNcb0QWbYKSWA",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3d066us3jDQBTc",
              "invoice": "in_103d062Gp7PcNcb0i8z7WfBL",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3d06jhTGDKHnfe"
        }
  recorded_at: Sat, 08 Mar 2014 13:57:56 GMT
recorded_with: VCR 2.8.0
