---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103ZyB2Gp7PcNcb0EI0SHu4K&description=
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103ZyB2Gp7PcNcb0WGwq5ovD"
          }
        }
  recorded_at: Fri, 28 Feb 2014 10:51:58 GMT
recorded_with: VCR 2.8.0
