---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=base&email=phoebe%40example.com&card=tok_103cFT2Gp7PcNcb0yh5qICmq&description=Subscripts%20by%20phoebe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 06 Mar 2014 12:51:33 GMT
recorded_with: VCR 2.8.0
