---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103cFO2Gp7PcNcb0XPYMsXc1",
          "livemode": false,
          "created": 1394110030,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103cFO2Gp7PcNcb0royxRXrP",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2015,
            "fingerprint": "jSTPAId2ayZIYClt",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 06 Mar 2014 12:47:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=base&email=&card=tok_103cFO2Gp7PcNcb0XPYMsXc1&description=
    headers:
      Authorization:
      - Bearer sk_test_ksgnWpvDkAXfRkWjZm0FwMAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 06 Mar 2014 12:47:12 GMT
recorded_with: VCR 2.8.0
