!!! 5
%html(lang="en-US")
  %head
  %body
    %p Hello, #{@user.full_name}
    %p There is something wrong with your credit card. So your account has been suspended.
    %p Please contact your credit card service.
    %p Thanks.