!!! 5
%html(lang="en-US")
  %head
  %body
    %p Hello #{@friend[:name]}, this is an invitation from your friend #{@invitor.full_name} and here is his/her message:
    %p #{@friend[:message]}
    %p
      We hope you can come to our website
      = link_to "MyFLiX", register_url(invitor: @invitor.id, email: @friend[:email])
    %p Thanks.