!!! 5
%html(lang="en-US")
  %head
  %body
    %p Hello, are you lost your MyFLIX password?
    %p If it's happen, you can use following link within the next 1 hour to reset your password:
    %p= link_to "Reset My Password", password_reset_url(@user.live_password_token)
    %p Thanks.